<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кінець</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Ви розгадали!</h1>
    </header>
    
    <main>
        <p>Очікуйте наступну загадку...</p>
    </main>

    <footer>
        <p>&copy; 2025 Таємничий портал. Всі права захищені.</p>
    </footer>
</body>
</html>
